@model IEnumerable<Cinema>

@{
}
<div class="main-container">
    <div class="row">
        <div class="col-md-4 col-sm-2 col-lg-2">
            <div class="genre">
                <h2>Towns</h2>
                <ul>
                  <li><a asp-controller="Cinema" asp-action="Index" asp-route-id="">All Towns</a></li>
                    @foreach(Town town in ViewBag.TownsList)
                    {
                        <li><a asp-controller="Cinema" asp-action="Index" asp-route-id="@town.Id">@town.TownName</a></li>    
                    }
                </ul>
            </div>
        </div>
      
        <div class="col-md-8 col-lg-10 col-sm-10">
            <div class="col-md-12 cinema-list">
                <h2>Cinema List</h2>
                @if (Context.User.IsInRole("admin") || Context.User.IsInRole("manager"))
                {
                    <div class="newFilm">
                        <a asp-controller="Cinema" asp-action="Create">Create new cinema</a>
                    </div>
                }
            </div>


            @foreach(Cinema item in Model) 
            { 
                <div class="movie-info row">
                    <div class="col-md-4 col-sm-8">
                        <a asp-controller="Cinema" asp-action="Details" asp-route-id="@item.Id">
                            <img src="/img/cinemaImage/@item.Image" alt="Movie Poster" class="img-fluid">
                        </a>
                    </div>
      
                    <div class="col-md-8 col-sm-4">
                        <div class="movie-title">
                            <h1 class="movie-name"><a asp-controller="Cinema" asp-action="Details" asp-route-id="@item.Id">@item.CinemaName</a></h1>
                        </div>

                        <div class="movie-description">
                            <h2>Localisation</h2>
                            <p>@item.Localisation</p>
                            <h2>Town</h2>
                            <p>@item.Town.TownName</p>
                        </div>
      
                        <div class="rating">
                            <h2>Rating:</h2>
                            <p>@item.CinemaRating</p>
                        </div>
                        @if (Context.User.IsInRole("admin") || Context.User.IsInRole("manager"))
                        {
                            <div class="actionButton">
                                <a asp-controller="Cinema" asp-action="Edit" asp-route-id="@item.Id">Edit</a>
                                <a asp-controller="Cinema" asp-action="Delete" asp-route-id="@item.Id">Delete</a>
                            </div>
                        }
                    </div>
                </div>
            }


        </div>
    </div>

    <div class="pagination-container">
        <div class="pagination-wrapper">
            <div class="pagesText">
                Pages&nbsp;:&nbsp;
                <ul class="pagination">
                    @for (int i = 0; i < ViewBag.PageCount; i++)
                    {
                        <li class="page-item @(ViewBag.curPage == i ? "active" : "")">
                            <a class="page-link" href="@Url.Action("Index", new { id = ViewBag.CurrentTownId, curPage = i, search = ViewBag.search })">
                                @(i + 1)
                            </a>
                        </li>
                    }
                </ul>
            </div>
        </div>
    </div>
</div>